<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link href="stylesheets/style.css" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">
    <title>Photography</title>
    <link rel="shortcut icon"
          href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6U3HnWDlJ57dBvyKW6TrO4LGhRcn2TkvCd78EcYreO4e76TJh"/>

    <style>
        div.jumbotron {
            border-style: solid;
        }

        p.countdown {
            text-align: center;
            font-size: 60px;
            margin-top: 0px;
            border: solid;
            color: #4A8394;
            font-family: 'Advent Pro', sans-serif;

        }

        .time {
            font-family: 'Advent Pro', sans-serif;
            font-size: 30px;
        }

        #footer {
            font-family: 'Advent Pro', sans-serif;
            font-size: 30px;
            text-shadow: 0 0 3px #3393A9, 0 0 5px #3393A9;

        }

        body {
            background-color: #4A8394;
            font-weight: bolder;
        }

        .container {
            margin-top: 30px;
            /*#499396*/
            background-color: ghostwhite;
            /*opacity: 0.9;*/
            /*border-radius: 3%;*/
            /*height: 500px;*/

            box-shadow: 0 0 3px #3393A9, 0 0 5px #3393A9;
        }

        .jumbotron {
            /*background-image: url("photography/public/images/download (1).jpg");*/
            /*background-repeat: no-repeat;*/
            /*background-attachment: fixed;*/
            border-radius: 1%;

        }

        div.card {
            opacity: 0.8;
            filter: alpha(opacity=50); /* For IE8 and earlier */
        }

        h5 {
            color: #4A8394;

        }

    </style>
</head>
<body>
<div class="container" id="el">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <img class="navbar-brand" src="images/camera-sketch-photography-logo-template-01-.png" href="#">

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" style="font-weight: bolder;            font-family: 'Advent Pro', sans-serif;
" href="https://photogrph7.herokuapp.com/Ads"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="font-weight: bolder;            font-family: 'Advent Pro', sans-serif;
" href="https://photogrph7.herokuapp.com/winners"><b>Previous
                            winners</b></a>
                </li>

            </ul>
        </div>

    </nav>
    <br>
    <!--<div class="row justify-content-center">-->
    <!--<img v-for="src in srcs" class="card-img-top" :src="user.src" alt="Card image cap">-->


    <!--</div>-->
    <!--</div>-->
    <br>
    <br>
    <div class="row justify-content-center">
        <div id="jumbo" class="jumbotron"
             style="background-image: url('images/photographers-checklist.png'); width: 700px">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12 justify-content-center">
                        <div class="row">

                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" role="button"
                                        aria-expanded="false" aria-controls="collapseThree"><b>Register</b>

                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#jumbo ">
                            <!--here-->
                            <div class="md-form input-group pl-0 mb-4">
                                <input v-model="user.name" type="text" class="form-control py-0" placeholder="Full name"
                                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                </div>
                            </div>
                            <div class="md-form input-group pl-0 mb-4">
                                <input type="text" class="form-control py-0"
                                       placeholder="Photography to you is?">

                                <div class="input-group-append">

                                    <select class="custom-select" id="inputGroupSelect02">
                                        <option selected>Choose...</option>
                                        <option value="1">Hobby</option>
                                        <option value="2">Work</option>
                                    </select>

                                </div>
                            </div>
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--link-->
                            <!--the photo's link-->
                            <div class="md-form input-group pl-0 mb-4">
                                <input v-model="user.src" type="text" class="form-control py-0"
                                       placeholder="Add the link of the picture"
                                       aria-label="Recipient's username" aria-describedby="basic-addon2"
                                       @keyup.enter="addImage($event)">
                                <!--<button class="btn btn-outline-secondary" type="button" >Add-->
                                <!--</button>-->
                            </div>

                            <div class="md-form input-group pl-0 mb-4">
                                <input v-model="user.email" type="text" class="form-control py-0"
                                       placeholder="Your email"
                                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                </div>
                            </div>

                            <div class="md-form input-group pl-0 mb-4">
                                <input v-model="user.notes" type="text" class="form-control py-0"
                                       placeholder="Add some other details"
                                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                </div>

                            </div>
                            <p>P.S: you can register more than once.</p>

                            <button data-dismiss="#collapseThree" id="save" @click="addNewUser" type="button"
                                    class="btn btn-outline-secondary btn-rounded waves-effect">Save
                            </button>

                        </div>
                    </div>
                </div>
            </div>


            <br>
            <br>
            <!--check your registration card-->
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-link collapsed" data-toggle="collapse"
                            data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseThree" onclick="getPage()">
                        <b> Check and edit your registration</b>
                    </button>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <table class="table">
                            <thead>
                            <tr>
                                <div class="col-md-5 col-2">

                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">link</th>
                                    <th scope="col">details</th>
                                    <th scope="col">Your email</th>
                                    <th scope="col">Actions</th>
                                </div>
                            </tr>
                            </thead>
                            <tbody>
                            <div class="col-md-5 col-2">

                                <tr v-for="(user,index) in users">
                                    <td style="font-size:1vw ">{{index + 1}}</td>
                                    <td style="font-size:1vw ">{{user.name}}</td>
                                    <td style="font-size:1vw ">{{user.src}}</td>
                                    <td style="font-size:1vw ">{{user.notes}}</td>
                                    <td style="font-size:1vw ">{{user.email}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button id="action" class="btn btn-info dropdown-toggle py-2"
                                                    style="padding: 14px;margin: auto" type="button"
                                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="row justify-content-center">
                                                    <button @click="removeUser(user._id)" type="button"
                                                            class="btn btn-sm btn-outline-danger btn-rounded waves-effect">
                                                        Delete
                                                    </button>
                                                    <button data-target="#editingModal" type="button"
                                                            class="btn btn-sm btn-outline-secondary btn-rounded waves-effect"
                                                            @click="merge(user)"
                                                            data-toggle="modal"
                                                    >Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                </tr>
                            </div>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!--modal-->
        <!--editing <modal-->
        <div class="modal fade" id="editingModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <!--here-->
                    <!--here-->
                    <div class="modal-body">

                        <div class="md-form input-group pl-0 mb-4">
                            <input v-model="editUser.name" type="text" class="form-control py-0" placeholder="Full name"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                            </div>
                        </div>

                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--link-->
                        <!--the photo's link-->
                        <div class="md-form input-group pl-0 mb-4">
                            <input v-model="user.src" type="text" class="form-control py-0"
                                   placeholder="Add the link of the picture"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2"
                                   @keyup.enter="addImage($event)">
                            <!--<button class="btn btn-outline-secondary btn-rounded waves-effect"-->
                            <!--&gt;-->
                            <!--Add-->
                            <!--</button>-->

                            <!--<div class="input-group-append">-->
                            <!--</div>-->
                        </div>

                        <div class="md-form input-group pl-0 mb-4">
                            <input v-model="editUser.email" type="text" class="form-control py-0"
                                   placeholder="Your email"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                            </div>
                        </div>

                        <div class="md-form input-group pl-0 mb-4">
                            <input v-model="editUser.notes" type="text" class="form-control py-0"
                                   placeholder="Add some other details"
                                   aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button onclick="getPage()" @click="editingUser" type="button"
                                class="btn btn-outline-primary btn-rounded waves-effect">Save
                        </button>

                        <button onclick="getPage()" type="button"
                                class="btn btn-outline-secondary btn-rounded waves-effect"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br>
    <br>
    <!--countdown 'till the deadline-->
    <div class="row justify-content-end">
        <div class="col-md-12">
            <p style="color: #4A8394;" class="time"><b>Time left until the deadline.</b></p>
        </div>
    </div>
    <div class="row justify-content-center ">
        <div class="col-md-8">
            <p class="countdown" id="countdown"></p>
            <hr>
        </div>
    </div>
    <br>
    <div id="footer" class="row align-item-end">
        <!--<div class="col-md-12 col-12">-->
        <p style="font-size: 20px;color: gray ; margin-left: 1000px "><b>Any questions ?
                <a class="text" style=" ;cursor: pointer;font-size: 20px;color: gray "
                   href="https://web.facebook.com/jwana.alfatla">
                    contact me</a></b></p>
        <!--</div>-->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>

<!--countdown thing-->
<script>
    // Set the date we're counting down to
    var countDownDate = new Date("march 24, 2018 12:00:25").getTime();

    // Update the count down every 1 second
    var x = setInterval(function () {

        // Get todays date and time
        var now = new Date().getTime();

        // Find the distance between now an the count down date
        var distance = countDownDate - now;

        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);

        // Output the result in an element with id="countdown"
        document.getElementById("countdown").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

        // If the count down is over, write some text
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("countdown").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>

<!--API-->
<script>

    function getPage() {
        axios.get('/api/registration').then(function (response) {
            app.users = response.data;
        });
    }

    // function hide (){
    //     if(src==""){
    //         return()
    //     }
    // }

    var app = new Vue({
        el: "#el",
        data: {
            users: [],
            user: {
                name: "",
                src: "",
                notes: "",
                email: "",
                option: ""
            }
            ,
            editUser: {
                name: "",
                src: "",
                notes: "",
                email: "",
            }
        },
        methods: {

            addNewUser: function () {
                if (this.user.name == "" &&
                    this.user.src == "" &&
                    this.user.email == "") alert("i'll bite your finger if you do it again!!")
                else if (this.user.name == "") alert("Add your name first")
                else if (this.user.src == "") alert("Add the link first")
                else if (this.user.email == "") alert("Add your email first")


                else {
                    axios.post('/api/registration', {
                        user: this.user
                    }).then(function (response) {
                            alert(response.data.message)

                        }
                    )
                }
            },
            merge: function (user) {
                this.editUser = user
            },

            // addImage: function (src) {
            //     this.src = src
            //     this.links.push(src)
            // }

            addImage: function ($event) {
                this.user.src = $event.target.value;
                this.user.src = this.user.src
            }


            , editingUser: function () {
                axios.put('/api/registration', {user: this.editUser}).then(function (response) {
                        alert(response.data.message)
                    }
                )
                getPage();
            },

            addImage: function ($event) {
                this.user.src = $event.target.value;
            },


            removeUser:
                function (id) {
                    axios.delete('/api/registration', {
                        params: {
                            id: id
                        }
                    }).then(function (response) {
                        if (response.data.isSuccess) {
                            getPage()
                        }
                    })
                }


        },

        mounted: function () {
            getPage()
        }
    })
</script>

</body>
</html>