<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link href="stylesheets/style.css" rel="stylesheet" type="text/css">-->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100" rel="stylesheet">
    <!--<link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet">-->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">


    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/css/mdb.min.css" rel="stylesheet">-->
    <title>Photography</title>
    <link rel="shortcut icon"
          href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6U3HnWDlJ57dBvyKW6TrO4LGhRcn2TkvCd78EcYreO4e76TJh"/>

    <style>

        body {
            font-family: 'Advent Pro', sans-serif;

            background-color: #4A8394;
        }

        .container {
            background-color: ghostwhite;
            margin-top: 50px;
            box-shadow: 0 0 3px #3393A9, 0 0 5px #3393A9;

        }

        h5, .display-4 {
            color: #4A8394;
        }

        #footer {
            font-family: 'Advent Pro', sans-serif;
            font-size: 30px;
            text-shadow: 0 0 3px #3393A9, 0 0 5px #3393A9;

        }
    </style>
</head>
<body>
<div class="container" id="el">
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--<a class="navbar-brand" href="#">Navbar</a>-->
        <img class="navbar-brand" src="images/camera-sketch-photography-logo-template-01-.png" href="#">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" style="font-weight: bolder" href="https://photogrph7.herokuapp.comhttps://photogrph7.herokuapp.com/Ads"><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " style="font-weight: bolder"
                       href="https://photogrph7.herokuapp.com/registration"><b>Register</b></a>
                </li>
            </ul>
        </div>

    </nav>
    <div class="row justify-content-center">
        <p class="display-4 mt-2">Previous winners </p>
    </div>
    <!--rehahn-->
    <div class="row justify-content-center">
        <!--card-->
        <div class="col-md-12 col-12">
            <!--Card-->
            <div class="card card-cascade wider reverse my-4">

                <!--Card image-->
                <div class="view overlay">
                    <img src="images/first (1).jpg" class="img-fluid">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>Street art</strong></h4>
                    <h5 style="cursor: pointer" data-toggle="modal" data-target="#rehahn" class="indigo-text"><strong>Rehahn ?</strong>
                    </h5>

                    <!-- Modal -->
                    <div class="modal fade" id="rehahn" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><img style="width: 70px"
                                                                                            src="images/Rehahnlr.jpg">
                                    </h5>
                                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                                    <!--<span aria-hidden="true">&times;</span>-->
                                    <!--</button>-->
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <p><b>Réhahn, born on 4 May 1979 in Bayeux in Normandy, France, is a
                                                photographer
                                                based in Hoi An, Vietnam. He travelled over 35 countries and is
                                                particularly
                                                renowned for his portraits of Vietnam, Cuba and India. Known as the
                                                photographer that “captures emotions and people souls”,[1] he has been
                                                working towards the recognition of the heritage of Vietnam’s 54 tribes
                                                since
                                                2011.</b></p>

                                        <a style="margin-right: 10px;margin-left: 20px"
                                           href="http://www.rehahnphotographer.com/"><b>Website</b>
                                        </a>
                                        <a href="https://web.facebook.com/Rehahn.Photography/"
                                           class="icons-sm fb-ic"><i
                                                    class="fa fa-facebook"> </i></a>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary btn-rounded waves-effect"
                                            data-dismiss="modal"><b>Close</b>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>

    </div>

    <!--lisa-->
    <div class="row justify-content-center">
        <!--card-->
        <div class="col-md-12 col-12">
            <!--Card-->
            <div class="card card-cascade wider reverse my-4">

                <!--Card image-->
                <div class="view overlay">
                    <img src="images/first (2).jpg" class="img-fluid">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>Nature among us</strong></h4>
                    <h5 style="cursor: pointer" data-toggle="modal" data-target="#lisa" class="indigo-text"><strong>Lisa
                            Kristine ?</strong>
                    </h5>

                    <!-- Modal -->
                    <div class="modal fade" id="lisa" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><img style="width: 100px"
                                                                                            src="images/news_ella_lisakristine.jpg">
                                    </h5>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <p><b>Lisa Kristine (born September 2, 1965) is an American humanitarian
                                                photographer. Her photography over a 30-year career has documented
                                                indigenous cultures and social causes, such as modern slavery, in more
                                                than 100 countries.[1]</b></p>

                                        <a style="margin-right: 10px;margin-left: 20px"
                                           href="https://www.lisakristine.com/"><b>Website</b>
                                        </a>
                                        <a href="https://web.facebook.com/LisaKristinePhotography/"
                                           class="icons-sm fb-ic"><i
                                                    class="fa fa-facebook"> </i></a>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary btn-rounded waves-effect"
                                            data-dismiss="modal"><b>Close</b>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>

    </div>

    <!--joe-->
    <div class="row justify-content-center">
        <!--card-->
        <div class="col-md-12 col-12">
            <!--Card-->
            <div class="card card-cascade wider reverse my-4">

                <!--Card image-->
                <div class="view overlay">
                    <img src="images/maxresdefault.jpg" class="img-fluid">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>A pause</strong></h4>
                    <h5 style="cursor: pointer" data-toggle="modal" data-target="#joe" class="indigo-text"><strong>Joe
                            McNally ?</strong>
                    </h5>

                    <!-- Modal -->
                    <div class="modal fade" id="joe" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><img style="width: 70px"
                                                                                            src="images/unnamed.jpg">
                                    </h5>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <p><b>Joe McNally (born July 27, 1952) is an American photographer who has been
                                                shooting for the National Geographic Society since 1987.[1] He is based
                                                out of New York City and resides in Ridgefield, Connecticut.

                                                He has won four awards from World Press Photo.[2]</b></p>

                                        <a style="margin-right: 10px;margin-left: 20px"
                                           href="https://portfolio.joemcnally.com/index"><b>Website</b>
                                        </a>
                                        <a href="https://web.facebook.com/joemcnallyphoto?_rdc=1&_rdr"
                                           class="icons-sm fb-ic"><i
                                                    class="fa fa-facebook"> </i></a>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary btn-rounded waves-effect"
                                            data-dismiss="modal"><b>Close</b>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card content-->

            </div>
            <!--/.Card-->
        </div>

    </div>

    <!--steve-->
    <div class="row justify-content-center">
        <!--card-->
        <div class="col-md-12 col-12">
            <!--Card-->
            <div class="card card-cascade wider reverse my-4">

                <!--Card image-->
                <div class="view overlay">
                    <img style="width: 1500px;" src="images/first (4).jpg" class="img-fluid">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <!--/Card image-->

                <!--Card content-->
                <div class="card-body text-center">
                    <!--Title-->
                    <h4 class="card-title"><strong>City view</strong></h4>
                    <h5 style="cursor: pointer" data-toggle="modal" data-target="#steve" class="indigo-text"><strong>Steve
                            McCurry ?"start": "nodemon ./bin/www"</strong>
                    </h5>

                    <!-- Modal -->
                    <div class="modal fade" id="steve" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle"><img style="width: 100px"
                                                                                            src="images/mccurry2_cover.jpg">
                                    </h5>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <p><b>Steve McCurry (born April 23, 1950) is an American photographer who has
                                                worked in photojournalism and editorial. He is best known for his 1984
                                                photograph "Afghan Girl", which originally appeared in National
                                                Geographic magazine.[1] McCurry is a member of Magnum Photos.</b></p>

                                        <a style="margin-right: 10px;margin-left: 20px" href="http://stevemccurry.com/"><b>Website</b>
                                        </a>
                                        <a href="https://web.facebook.com/stevemccurrystudios?_rdc=1&_rdr"
                                           class="icons-sm fb-ic"><i
                                                    class="fa fa-facebook"> </i></a>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button"
                                            class="btn btn-sm btn-outline-secondary btn-rounded waves-effect"
                                            data-dismiss="modal"><b>Close</b>
                                    </button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/.Card content-->
                <hr>
            </div>
            <!--/.Card-->
        </div>

    </div>
    <div id="footer" class="row align-item-end">
        <!--<div class="col-md-12 col-12">-->
        <p style="font-size: 20px;color: gray ; margin-right: 1000px "><b>Any questions ?
                <a class="text" style=" ;cursor: pointer;font-size: 20px;color: gray "
                   href="https://web.facebook.com/jwana.alfatla">
                    contact me.</a></b>

        </p>
        <p class="float-left">
            <a style="font-size: 20px" href="#">Back to top.</a>
        </p>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>

<script src="//static.codepen.io/assets/common/stopExecutionOnTimeout-b2a7b3fe212eaa732349046d8416e00a9dec26eb7fd347590fbced3ab38af52e.js"></script>


</body>
</html>